<h1>What is this?</h1>
<p>Welcome! This is Jordan Grant's (@historyshack) class project for the 2013 UMITH-DHWI Winter Institute. This site was built using Ruby and Rails under the strict supervision of Wayne Graham (@wayne_graham) and Jeremy Boggs (@clioweb). All mistakes are the author's.</p>
