/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


 html {
 	background-color: #eec367;
 }

 /*HEADER*/

 header {
 	background-color: #eec367;
 	border: 2px;
 	padding:20px;
 	text-align: center;
 	margin: 60px 0 30px 0
 }

 header h1 {
 	color:#fff;
 	font-size: 50px;
 	font-weight: 700;
 	font-family: 'Ribeye', cursive, Verdana;
 }

 /*body*/

body {
	font-family: Verdana, san-serif;
	width:70%;
	margin: 20px auto;
	background-color: #eec367;
	padding: 20px 40px;
}

body h1 {
	color:#fff;
	text-align: center;
	font-family: 'Ribeye', cursive, Verdana;
}

nav ul {
	list-style:none;
	margin-left:0;
	padding-left:0;
}

nav li {
	display:inline;
}

nav a {opacity: 0.6;}

/*Links*/

header a:link {color:#892F2A;}
header a:visited {color:#892F2A;;}
header a:hover {color:#892F2A;;}
header a:focus {color:#892F2A;;}
header a:active {color:#892F2A;;}
header a:{
	font-size: 10px;
}

table a:link {color:#fff}
table a:visited {color:#fff;}
table a:hover {color:#fff;}
table a:focus {color:#fff;}
table a:active {color:#fff;}
table a:{
	font-size: 40px;
}



/*Table*/

table {
	width: 100%;
	background-color: #eec367;
}

th,
td {
	padding:5px 0;

}

thead th {
	text-align:center;
	font-size: 30px;
	color: #fff;
}







