/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


 html {
 	background-color: #f2d18a;
 }

 /*HEADER*/

 header {
 	background-color: #f2d18a;
 	border: 2px;
 	padding:20px;
 	border-bottom:3px solid #F2D18A;
 	text-align: center;
 }

 header h1 {
 	color:#fff;
 	font-size: 50px;
 }

 /*body*/

body {
	font-family: Verdana, sans-serif;
	width:70%;
	margin: 20px auto;
	background-color: #f2d18a;
	padding: 20px 40px;
	border: 3px solid #F2D18A;
}

nav ul {
	list-style:none;
	margin-left:0;
	padding-left:0;
}

nav li {
	display:inline;
}

nav a {opacity: 0.6;}

/*Links*/

header a:link {color:#892F2A;}
header a:visited {color:#892F2A;;}
header a:hover {color:#892F2A;;}
header a:focus {color:#892F2A;;}
header a:active {color:#892F2A;;}

a:-webkit-any-link {
	color:#892F2A;
	font-size: 12px;

}

/*Table*/

table {
	width: 100%;
	background-color: #ccc;

}

th,
td {
	padding:5px 0;


}

thead th {
	border-bottom: 2px solid #fff;
	text-align:left;
}

tbody tr {
	background-color: #eee;


}

tbody tr:nth-child(even) {
	background-color: #fff;
}

table a:link {color:#fff}
table a:visited {color:#fff;}
table a:hover {color:#fff;}
table a:focus {color:#fff;}
table a:active {color:#fff;}
table a {
	font-size: 30px;

}

